elasticsearch:
  replicas: 1
  storage: 100Gi

  resources:
    requests:
      cpu: "2"
      memory: "8Gi"
    limits:
      cpu: "4"
      memory: "16Gi"

final-appset:
  namespace:
    annotations:
      field.cattle.io/projectId: c-m-97jxtvnv:p-h5hd5
