elasticsearch:
  replicas: 3
  storage: 100Gi

  resources:
    requests:
      cpu: "2"
      memory: "8Gi"
    limits:
      cpu: "4"
      memory: "16Gi"

final-appset:
  namespace:
    annotations:
      field.cattle.io/projectId: c-m-4wz4v7ln:p-2dll4
